<% if current_user %>
<h3>Add Comment</h3>
<%=form_for([@post, @post.comments.build], html: {autocomplete: 'off'}) do |f| %>
  <p>
    <%= f.text_area :body, {:class => 'form-control'} %>
  </p>
  <p>
    <%= f.submit({:class => 'btn btn-primary'}) %>
  </p>
<% end %>
<% end %>